/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Secular+One&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #244AFF;
  --secondary-color: #61E0FF;
  --accent1-color: #FFFFFF;
  --accent2-color: #FF6B12;
  --accent3-color:#060808;
/* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #61E0FF;  /* headlines on a white background */ 
  --headline-color-on-color: #E9F3F5; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #E9F3F5; /* paragraph text on a colored background */ 
  --text-background-color: #244AFF;
  --nav-link-color: #E9F3F5;
  --nav-background-color: #10328F;
  --nav-hover-link-color: #010101;
  --nav-hover-background-color: #396E94;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 300px;
  border: solid 5px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
  color: var(--headline-color-on-white);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
nav {
  text-align: center;
}
a{
  text-decoration: none;
}
nav ul li{
  list-style: none;
}

p, ul ,ol {
  font-family: 'Quicksand', sans-serif;
  color: var(--paragraph-color);
  padding: 1em;
}

.modeltitle{
  color: black;
  }

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 15%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color); color: white;
}
.accent3{
    background-color: var(--accent3-color); color: white;
}

footer {
  background-color:#244AFF;
  font-family:'Quicksand', sans-serif;;
  text-align: center;
  font-weight: 600;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 1em;
}

span {
  text-align: center;
  color:#E9F3F5;

}
