:root {
    /* change the values below to your colors from your palette */
    --primary-color: #04133D;
    --secondary-color: #FF6B12;
    --accent1-color: #FFFFFF;
    --accent2-color: #E602A9;
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #FF6B12;
    /* headlines on a white background */
    --headline-color-on-color: #E9F3F5;
    /* headlines on a colored background */
    --paragraph-color-on-white: black;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #E9F3F5;
    /* paragraph text on a colored background */
    --text-background-color: #04133D;
    --nav-link-color: #E9F3F5;
    --nav-background-color: #10328F;
    --nav-hover-link-color: #010101;
    --nav-hover-background-color: #396E94;
}

html {
    background-color: var(--primary-color);
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

img {
    max-width: 300px;
    border: solid 5px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Secular One', sans-serif;
    color: var(--headline-color-on-white);
}

h4 {
    font-size: 18px;
    ;
}

header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--text-background-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--accent2-color);
    font-size: 20px;
    font-weight: bold;
}

nav ul li {
    list-style: none;
}

p,
ul,
ol {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: var(--paragraph-color);
    padding: 1em;
}

p {
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}

p span {
    font-weight: bold;
    color: black;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 15%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
    color: white;
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

.haches {
    margin-left: 18px;
}

.uno {
    font-size: 35px;
}

.dos {
    font-size: 30px;
}

.tres {
    font-size: 25px;
}

.cuatro {
    font-size: 20px;
}

footer {
    background-color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    ;
    text-align: center;
    font-weight: 600;
    padding: 20px;
    font-size: 20px;
}

footer a {
    color: var(--accent2-color);
    text-decoration: underline !important;
}

span {
    text-align: center;
    color: #E9F3F5;
}