table,
thead,
th,
tr,
td {
    font-size: 30px;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

h1 {
    text-align: center;
}

table {
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 15px 15px 25px 8px rgba(4, 19, 61, .9);
}

thead th {
    background-color: #7fb9c2;
    font-size: 40px;
}

tfoot tr th {
    font-weight: 200;
    background-color: #7fb9c2;
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

.foot {
    margin: 0 auto;
}

.change {
    background-color: #628ca6;
    color: white;
}

@media screen and (max-width: 600px) {
    table thead {
        border: none;
    }
    table,
    tr,
    td,
    th,
    thead {
        display: grid;
    }
    table {
        box-shadow: none;
    }
    table tr {
        display: block;
        margin-bottom: 15px;
    }
    table td {
        border-bottom: none;
        display: block;
        font-size: 25px;
        text-align: right;
    }
    table td:last-child {
        border-bottom: 1px solid black;
    }
    tbody tr:nth-of-type(1) {
        display: none;
    }
    td:nth-of-type(1):before {
        content: 'Period';
    }
    td:nth-of-type(2):before {
        content: 'Sales';
    }
    td:nth-of-type(3):before {
        content: 'Global Sales';
    }
    table td::before {
        float: left;
    }
    tfoot {
        width: 100%;
    }
}