h1,
li,
p {
    font-size: 50px;
    font-weight: bold;
}

P:nth-child(2),
p:nth-child(5) {
    background-color: orange;
    color: purple;
}

li:nth-child(odd) {
    background-color: blue;
    color: white;
}

li:nth-child(even) {
    background-color: purple;
    color: antiquewhite;
}