:root {
    --PrimaryColor: #0A2342;
    --secundaryColor: #1E398F;
    --thirdColor: #FFFDF7;
    --fourthColor: #FCE900;
    --fontHeading: 'Libre Baskerville', serif;
    --fontText: 'Barlow Condensed', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Global Styles*/

h1,
h2,
h3,
h4 {
    font-family: var(--fontHeading);
}

p,
span,
a,
li {
    font-family: var(--fontText);
    font-size: 2rem;
}


/*Resources*/

.center-content {
    margin: 0 auto;
}


/*body*/

.width-body {
    max-width: 120rem;
    background-color: var(--PrimaryColor);
}


/*header*/

.header {
    background-color: var(--secundaryColor);
    border-radius: 1rem 1rem 0rem 0rem;
}

.header__heading {
    font-size: 3rem;
    text-align: center;
    color: var(--thirdColor);
    padding: 4rem 2rem;
}

@media (min-width: 768px) {
    .header__heading {
        font-size: 4.8rem;
    }
}

.main-container__photo {
    float: block;
    border-radius: 2%;
    max-width: 100%;
    width: 18rem;
    margin: auto;
}

@media (min-width: 470px) {
    .main-container__photo {
        display: block;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .main-container__photo {
        float: right;
        margin-left: 12rem;
    }
}


/*main*/

main ul li {
    font-size: 2.5rem;
}

main ul li a {
    font-size: 2.5rem;
}

.main-container {
    max-width: 110rem;
    background-color: var(--thirdColor);
    border-radius: 2%;
}

.main-content {
    padding: 4rem 0 2rem 3rem;
}

.main-content__heading {
    font-size: 2rem;
}

@media (min-width: 470px) {
    .main-content__heading {
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) {
    .main-content__heading {
        font-size: 2.5rem;
    }
}


/*footer*/

footer {
    background-color: var(--secundaryColor);
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 3rem 2rem;
    text-align: center;
    height: auto;
}

footer a {
    color: var(--thirdColor);
}

footer p {
    margin: 0;
    font-size: 2.5rem;
}

footer span {
    font-size: 2.2rem;
    color: var(--thirdColor);
}

.year {
    color: black;
}

@media (min-width: 470px) {
    footer {
        height: auto;
    }
}