@media (min-width:680px) {
    /*Header*/
    h1 {
        font-size: 5rem;
        color: var(--third-color);
        margin: 0;
    }
    h2 {
        font-size: 3.5rem;
        color: var(--secondary-color);
    }
    /*Navigation*/
    .navigation-links li a {
        display: flex;
        font-size: 2.2rem;
    }
    .p-header {
        font-size: 2rem;
        text-align: center;
        color: var(--third-color);
        margin: 0;
    }
    .navigation-links {
        max-width: 85rem;
        margin: 4rem auto 0 auto;
        display: flex;
        gap: 2rem;
        font-size: 3rem;
        list-style: none;
        justify-content: center;
        padding: 0 0 1.5rem 0;
        border-left: 3px solid var(--secondary-color);
        border-right: 3px solid var(--secondary-color);
        border-bottom: 3px solid var(--secondary-color);
    }
}