@media (min-width:702px) {
    /*Header*/
    h1 {
        font-size: 5rem;
        color: var(--third-color);
        margin: 0;
    }
    h2 {
        font-size: 3.5rem;
        color: var(--secondary-color);
    }
    /*Navigation*/
    .navigation-links li a {
        display: flex;
        font-size: 2rem;
    }
    .p-header {
        font-size: 2rem;
        text-align: center;
        color: var(--third-color);
        margin: 0;
    }
    .navigation li {
        display: flex;
    }
    .navigation-links {
        max-width: 90rem;
        margin: 4rem auto 0 auto;
        display: flex;
        gap: 2rem;
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        padding: 0 0 1.5rem 0;
        border-left: 3px solid var(--secondary-color);
        border-right: 3px solid var(--secondary-color);
        border-bottom: 3px solid var(--secondary-color);
    }
    .navigation-links li:first-child {
        display: none;
    }
    /*main sections*/
    main h2 {
        border-radius: 5px;
    }
    /*Article*/
    .main-content__section__article {
        padding: 5rem;
    }
    .main-content__article--image {
        float: right;
        max-width: 32rem;
        margin: 3rem 0 0 1.5rem;
    }
    .main-content__article--text {
        font-size: 2.1rem;
    }
    .main-content__section--headingA {
        border-radius: 5px;
    }
    /*footer*/
    footer {
        font-size: 18px;
    }
}