@media (min-width: 868px) {
    h1 {
        font-size: 7rem;
        color: var(--third-color);
        margin: 0;
    }
    main h1 {
        font-family: 'Secular One', sans-serif;
        font-size: 4rem;
        color: var(--third-color);
        background-color: rgba(4, 19, 61, .8);
        margin: 9rem 0 0 0;
        padding: 2rem 0;
    }
    .p-header {
        font-size: 3rem;
    }
    /*Navigation*/
    .navigation-links {
        display: flex;
    }
    .navigation-links li a {
        font-size: 2.3rem;
        font-weight: 500;
    }
    /*Gallery*/
    .content {
        margin: 0 auto;
        max-width: 180rem;
        text-align: center;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 20rem;
    }
    .gallery picture img {
        max-width: 100%;
        margin: 0 0 1rem 0;
    }
    /*footer*/
    footer {
        font-size: 20px;
    }
}