body {
    background-color: #04133D;
}

.content {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: aliceblue;
}

picture img[data-src] {
    filter: blur(1em);
}

picture img {
    display: block;
    margin: 0 auto 5px auto;
    filter: blur(0em);
    transition: filter 0.5s;
}