@media (min-width: 768px) {
    h1 {
        font-size: 7rem;
        color: var(--third-color);
        margin: 0;
    }
    h2 {
        font-size: 5.5rem;
        color: var(--secondary-color);
    }
    .p-header {
        font-size: 3rem;
    }
    /*Navigation*/
    .navigation-links {
        display: flex;
    }
    .navigation-links li a {
        font-size: 2.3rem;
        font-weight: 500;
    }
    /*Hero Image*/
    .def-img {
        display: block;
        width: 100%;
        height: 50rem;
    }
    /*main sections*/
    /*Article*/
    /*
    .main-content__article--image {
        float: right;
        max-width: 35rem;
        margin: 3rem 0 0 1.5rem;
    }*/
    /*Image article*/
    .def-img2 {
        display: block;
        float: right;
        width: 40%;
        margin: 3.5% 2% 0 2%;
    }
    .main-content__article--text {
        font-size: 2.4rem;
    }
    .main-content__section--headingA {
        border-radius: 5px;
    }
    .main-content__section--heading {
        max-width: 30rem;
        border-radius: 5px;
        padding: 2rem;
    }
    picture:hover {
        box-shadow: 0px 4px 30px 15px rgba(4, 19, 61, .3);
    }
    @media (min-width: 868px) {
        /*Gallery*/
        main h1 {
            font-family: 'Secular One', sans-serif;
            font-size: 4rem;
            color: var(--third-color);
            background-color: rgba(4, 19, 61, .8);
            margin: 9rem 0 0 0;
            padding: 2rem 0;
        }
        .content {
            margin: 0 auto;
            max-width: 180rem;
            text-align: center;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-bottom: 20rem;
        }
        .gallery picture img {
            max-width: 100%;
            margin: 0 0 1rem 0;
        }
    }
    /*footer*/
    footer {
        font-size: 20px;
    }
}