#allcontent {
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(38, 70, 83);
}

header {
    background-color: rgb(254, 238, 0);
    height: auto;
    padding: 1px
}

.whitespace {
    background-color: white;
    border-radius: 4px;

}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Architects Daughter';

}

p {
    font-family: 'Indie Flower';
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}

.subheaderpages {
    background-color: rgb(254, 238, 0);
    padding-top: 0.1px;
    border-radius: 4px;
}

.ugp {
    grid-column: 1;
    border: solid 1px;
    border-radius: 4px;

}

.cjp {
    grid-column: 1;
    border: solid 1px;
    border-radius: 5px;
}

.omp {
    grid-column: 1;
    border: solid 1px;
    border-radius: 5px;
    margin-right: 10px;

}