@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        gap: .5rem
    }
    .page1 {
        grid-column: 1/2;
    }
    .page2 {
        grid-column: 2/3;
    }
    .page3 {
        grid-column: 3/4;
    }
}