/*demography table1*/

table {
    margin: 0 auto;
}

.table-city1 th,
tr,
td {
    padding: 3rem;
    border: 2px solid var(--third);
}

.table-city2 th,
tr,
td {
    padding: 3rem;
    border: 2px solid var(--third);
}

.table-city1 {
    margin: 10rem auto;
    font-size: 3rem;
    text-align: center;
}

.table-city2 {
    margin: 10rem auto;
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width:1100px) {
    /*demography table1*/
    @media screen and (max-width: 1100px) {
        .table-city1 th, tr, td {
            padding: 3rem;
            border: 2px solid var(--third);
        }
        .table-city2 th,
        tr,
        td {
            padding: 3rem;
            border: 2px solid var(--third);
        }
        t table {
            margin: 0 auto;
        }
        table,
        tr,
        td,
        th,
        thead {
            display: grid;
        }
        table tr {
            display: block;
            margin-bottom: 15px;
        }
        table td {
            border-bottom: none;
            display: block;
            font-size: 25px;
            text-align: right;
        }
        .table-city1 tbody tr:nth-of-type(1) {
            display: none;
        }
        .table-city1 td:nth-of-type(1):before {
            content: 'Department / District';
        }
        .table-city1 td:nth-of-type(2):before {
            content: 'Census 2018';
        }
        .table-city1 td:nth-of-type(3):before {
            content: 'Census 2005';
        }
        .table-city1 td:nth-of-type(4):before {
            content: 'Percent 2018';
        }
        .table-city1 td:nth-of-type(5):before {
            content: 'Percent 2005';
        }
        .table-city1 td:nth-of-type(6):before {
            content: 'Variation 2005-  2018';
        }
        .table-city2 tbody tr:nth-of-type(1) {
            display: none;
        }
        .table-city2 td:nth-of-type(1):before {
            content: 'Year';
        }
        .table-city2 td:nth-of-type(2):before {
            content: 'Population';
        }
        .table-city2 td:nth-of-type(3):before {
            content: 'Citizens';
        }
        .table-city2 td:nth-of-type(4):before {
            content: 'Other colombians';
        }
        .table-city2 td:nth-of-type(5):before {
            content: 'Foreign';
        }
        table td:last-child {
            border-bottom: 1px solid var(--third);
        }
        table td::before {
            float: left;
        }
    }
}