@media (min-width: 768px) {
    h1 {
        font-size: 7rem;
        color: var(--third-color);
        margin: 0;
    }
    h2 {
        font-size: 5.5rem;
        color: var(--secondary-color);
    }
    .p-header {
        font-size: 3rem;
    }
    /*Navigation*/
    .navigation-links {
        display: flex;
    }
    .navigation-links li a {
        font-size: 2.3rem;
        font-weight: 600;
    }
    /*main sections*/
    /*Article*/
    .main-content__article--image {
        float: right;
        max-width: 35rem;
        margin: 3rem 0 0 1.5rem;
    }
    .main-content__article--text {
        font-size: 2.4rem;
    }
    .main-content__section--headingA {
        border-radius: 5px;
    }
    .main-content__section--heading {
        max-width: 30rem;
        border-radius: 5px;
        padding: 2rem;
    }
    /*footer*/
    footer {
        font-size: 20px;
    }
}