@media only screen and (min-width: 60em) {

    nav button {
        display: none;
    }

    nav {
        position: relative;
        top: -17px;
    }

    header img {
        width: 150px;
        position: relative;
        float: left;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .bannerpage {
        height: 200px;
    }

    .img-hero {
        width: 840px;

    }

    .summary-weather {
        position: relative;
        width: 195px;
        height: 167px;
        top: -190px;
        left: 20px;
    }

    nav button {
        display: none;
    }

    nav {
        position: relative;
        top: -17px;
    }

    header img {
        width: 150px;
        position: relative;
        float: left;
    }

    header h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2em;
    }

}