@media only screen and (min-width: 47em) {
    nav {
        width: 100%;
    }

    nav button {
        display: none;
    }

    nav {
        position: relative;
        top: -17px;
    }

    nav ul li {
        border: none;
    }

    nav ul li {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul li {
        margin: 7px;
        width: 12%;

    }

    .listlink1 {
        display: flex;
        justify-content: center;

    }

    header h1 {
        font-size: 2.0rem;
    }

    .img-hero {
        width: 100%;
    }

    .summary-weather {
        position: absolute;
        top: 270px;
        left: 60px;
    }

    .wholesection {
        justify-items: center;
    }

    .forecast,
    .listdays {
        display: flex;
        justify-content: center;
    }

    .forecast {
        background-color: rgba(97, 224, 255, 0.5);
        margin-bottom: 20px;
    }

    .day {
        margin: 42px;
    }

    .item {
        width: 100px;
        height: 120px;
        margin: 2px;
        margin-left: 2px;
        padding: 1px;
        padding-top: 22px;
        text-align: center;
        background-color: rgba(0, 17, 196, 0.7);
    }

    .imgarticle {
        width: 300px;
        float: right;
        padding: 15px;
    }

    .imgmap {
        float: left;
        width: 400px;
        padding-right: 70px;
        padding-left: 15px;

    }

    .socialmedia {
        float: right;
        padding-right: 130px;


    }

}