html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

 :root {
    --primary-color: #04133D;
    --secondary-color: #D7793F;
    --third-color: #FFFFFF;
    --fourth-color: #E602A9;
}


/*General Styles*/

h1,
h2,
h3,
h4 {
    font-family: 'Secular One', sans-serif;
    margin: 0;
}

p,
a {
    font-family: 'Quicksand', sans-serif;
}


/*Pancakes*/

.pancakes {
    background-color: rgba(215, 121, 63, .6);
    color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 5rem;
    margin: 0;
}


/*Header*/

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 4rem 0;
}

h1 {
    font-size: 4rem;
    color: var(--third-color);
    margin: 0;
}

h2 {
    font-size: 3.5rem;
    color: var(--secondary-color);
}

.p-header {
    font-size: 2rem;
    text-align: center;
    color: var(--third-color);
    margin: 0;
}


/*Navigation*/

nav button {
    margin: 0 auto 2rem 0;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 1px;
    font-size: 2.5rem;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.navigation-links {
    text-align: center;
    font-size: 3rem;
    list-style: none;
    padding: 0;
}

.navigation-links li a {
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--fourth-color);
    padding: .6rem;
}

.navigation-links li:first-child {
    display: block;
}

.navigation-links li a:hover {
    background-color: var(--primary-color);
}

.navigation-links .active a {
    background-color: var(--primary-color);
}


/*Main*/

main h2 {
    max-width: 70rem;
    margin: 10rem auto 2rem auto;
    text-align: center;
    background-color: rgba(4, 19, 61, .8);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
}


/*Main Sections Content*/

.main-content__relative {
    position: relative;
}

.main-content__section--heading {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 200;
}


/*hero*/

.main-content__hero {
    background: url(/Lesson5/images-05/pexels-pixabay-46160.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 50rem;
}

.main-content__section--headingW {
    font-size: 2.2rem;
    font-weight: 200;
}

.weather-summary {
    position: absolute;
    background-color: rgba(215, 121, 63, .6);
    border-radius: 5px;
    padding: 2rem 3rem;
    width: 30rem;
    top: 5rem;
    left: 5rem;
}

.weather-summary ul li {
    color: var(--third-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.weather-summary ul {
    padding: 0 .5rem;
}

.weather-summary ul li span {
    color: yellow;
}


/*Forecast*/


/*Article*/

.main-content__article--image {
    display: block;
    margin: 5rem auto 0 auto;
    max-width: 30rem;
}

.main-content__article--text {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-align: justify;
    padding: 0 1rem;
}

.main-content__section--headingA {
    color: var(--secondary-color);
    text-align: center;
    background-color: rgba(4, 19, 61, .8);
    padding: 1rem;
    max-width: 70rem;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 200;
}


/*footer - Forecast*/

.main-content__section {
    border: 2px dashed var(--primary-color);
    margin: 1rem;
    padding: 1rem;
}


/*Footer*/

footer {
    max-width: 125rem;
    margin: 5rem auto 0 auto;
    background-color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 500;
    padding: 20px;
    font-size: 16px;
}

footer a {
    color: var(--fourth-color);
    text-decoration: underline !important;
}

span {
    text-align: center;
    color: #E9F3F5;
}