html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #04133D;
}

section {
    background-color: cadetblue;
    padding: 5rem 3rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.cards {
    max-width: 50rem;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 15px rgba(255, 255, 255, .5);
}

h1 {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    font-size: 2.8rem;
    font-family: 'Viaoda Libre', cursive;
    text-align: center;
    box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, .5);
}

h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Mate SC', serif;
    font-size: 2rem;
}

img {
    max-width: 100%;
    width: 300px;
    height: 380px;
}

@media (min-width: 705px) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-family: 'Mate SC', serif;
        font-size: 2.2rem;
    }
    section {
        margin: 0 auto;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: 80rem;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 5rem;
        text-align: center;
        max-width: 80rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-family: 'Mate SC', serif;
        font-size: 2rem;
    }
    .cards {
        max-width: 150rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 0 auto;
        line-height: .7;
    }
}