html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

 :root {
    --primary-color: #04133D;
    --secondary-color: #D7793F;
    --third-color: #FFFFFF;
    --fourth-color: #4ca1a3;
}


/*Pancakes*/

.pancakes {
    background-color: rgba(215, 121, 63, .6);
    color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 5rem;
    margin: 0;
}


/*Header*/

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 6rem 0;
}

h1 {
    font-size: 5rem;
    color: var(--third-color);
    margin: 0;
    font-family: 'Secular One', sans-serif;
}

.esqueleto {
    width: 10rem;
}

.hHome {
    font-size: 5rem;
    color: #FFFFFF;
    background-color: rgba(4, 19, 61, .8);
    text-align: center;
    margin: 8rem 0 0 0;
    border-radius: 10px 10px 0 0;
}

.h-header {
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 200;
    text-align: center !important;
    color: var(--third-color) !important;
    margin: 0 !important;
    padding: 0;
}


/*Navigation*/

nav button {
    margin: 0 auto 2rem 0;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 1px;
    font-size: 2.5rem;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.navigation-links {
    text-align: center;
    font-size: 3rem;
    list-style: none;
    padding: 0;
    margin-bottom: -32px;
}

.navigation-links li a {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--fourth-color);
    padding: .6rem;
}

.navigation-links li:first-child {
    display: block;
}

.navigation-links li a:hover {
    background-color: rgba(215, 121, 63, .6);
}

.navigation-links .active a {
    background-color: rgba(215, 121, 63, .6);
}

p,
a {
    font-family: 'Quicksand', sans-serif;
}


/*

/*Main*/


/*Her Image*/

.main-content--hero {
    background: url(/Lesson5/images-05/originalHero.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 50rem;
    margin: 0 0 2rem 0;
}

.article {
    width: 96%;
    margin: 0 auto;
}

.pChocolate {
    text-align: justify !important;
}


/*Cities Section*/

.main {
    max-width: 150rem;
    margin: 0 auto;
}

.ciudades {
    max-width: 55rem;
    margin: 5rem auto;
    background-color: burlywood;
    padding: 3rem 1rem;
    border-radius: 10px;
}

section {
    background-color: var(--fourth-color);
    border-radius: 10px 10px 0px 0px;
    max-width: 48rem !important;
    margin: 3rem auto;
}

h2 {
    color: rgba(215, 121, 63, .8);
    background-color: rgba(4, 19, 61, .8);
    border-radius: 10px 10px 0 0;
    font-size: 3rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

p {
    font-size: 2.5rem !important;
    line-height: 1;
}

img {
    max-width: 100%;
    width: 490px;
    height: 310px;
    margin: 0;
}

h2,
h3,
p {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

@media (min-width: 501px) {
    /*Article Image*/
    .article {
        width: 96%;
        margin: 0 auto;
    }
    .imgChocolate {
        position: static;
        display: block;
        margin: auto;
    }
    .ciudades {
        max-width: 55rem;
        margin: 5rem auto;
        background-color: burlywood;
        padding: 3rem 1rem;
        border-radius: 10px;
    }
    section {
        background-color: var(--fourth-color);
        border-radius: 10px 10px 0px 0px;
        max-width: 48rem !important;
        margin: 3rem auto;
    }
    h2 {
        color: rgba(215, 121, 63, .8);
        background-color: rgba(4, 19, 61, .8);
        border-radius: 10px 10px 0 0;
        font-size: 3rem;
        padding: 2rem 0;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    p {
        font-size: 2.5rem !important;
        line-height: 1;
    }
    img {
        max-width: 100%;
        width: 490px;
        height: 310px;
        margin: 0;
    }
    h2 {
        color: rgba(215, 121, 63, .8);
        background-color: rgba(4, 19, 61, .8);
    }
    h2,
    h3,
    p {
        font-family: 'Secular One', sans-serif;
        text-align: center;
    }
}

@media (min-width: 200px) {
    .overall {
        display: block !important;
        padding: 5rem;
    }
}


/*Contact Section*/

.main-content__section--info {
    max-width: 96%;
    margin: 15rem auto 0 auto;
    border-radius: 10px;
    background-color: rgba(215, 121, 63, .7);
}

.main-content__section--heading {
    padding-top: 2rem;
}

.overall {
    margin: 0 auto;
    text-align: center;
}

.imgLocation {
    padding: 0 0 0 2rem;
    position: static;
    max-width: 100%;
}

.contact-area--info {
    grid-column: 2/3;
    margin: 0;
}

.uno {
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: center !important;
    margin-top: 2rem;
    line-height: 1;
}

.iUno {
    margin-right: 2rem;
}


/*Footer*/

.footer-gallery {
    max-width: none;
}

footer {
    max-width: 100%;
    margin: 5rem auto 0 auto;
    background-color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 500;
    padding: 20px;
    font-size: 16px;
}

footer a {
    color: var(--fourth-color);
    text-decoration: underline !important;
}

span {
    text-align: center;
    color: #E9F3F5;
}